body {
    background: url("images/hero.png") fixed;
    background-size: cover;
}


.ctr {
    margin: auto;
    width: max-content;
    padding: 100px;
}

#searchBox {
    width: 100%;
    margin-bottom: 20px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}


.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border: 1px solid;
    overflow: hidden;
    word-break: normal;
}
th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    overflow: hidden;
    word-break: normal;
    color: rgb(213, 221, 229);
    background: rgba(53, 51, 61, 0.8);
    vertical-align:middle;
    width: 105px;
    height: 20px;
    cursor: pointer;
}

th .dateCell {
    width: 115px;
    height: 27px;
}

/*** Table Styles **/


tr {
    color: #21212c;
    font-size:16px;
    font-weight: bold;
}

tr:hover td {
    background: rgba(78, 80, 102, 0.5);
    color:#FFFFFF;
}

tr:nth-child(odd) td {
    background: rgba(235, 235, 235, 0.3);
}

tr:nth-child(odd):hover td {
    background: rgba(78, 80, 102, 0.5);
}

td {
    background: rgba(255, 255, 255, 0.3);
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
}


