.ctr {
    margin: auto;
    width: 600px;
    height: 500px;
    padding: 180px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border: 1px solid;
    overflow: hidden;
    word-break: normal;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 5px;
    border: 1px solid;
    overflow: hidden;
    word-break: normal;
    vertical-align: top;
}
