
.ctr {
    margin: auto;
    width: max-content;
    padding: 100px
}

#searchBox {
    width: 100%;
    margin-bottom: 20px;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}


.tg td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border: 1px solid;
    overflow: hidden;
    word-break: normal;
}
.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid;
    overflow: hidden;
    word-break: normal;
}

th:hover{
    background-color: mintcream;
}

th {
    width: 105px;
    height: 20px;
    cursor: pointer;
}

th .dateCell {
    width: 115px;
    height: 27px;
}


